[submodule "playbooks/roles/shell/files"]
	path = playbooks/roles/shell/files
	url = git@github.com:lostl1ght/shell.git
[submodule "playbooks/roles/tmux/files/tmux"]
	path = playbooks/roles/tmux/files/tmux
	url = git@github.com:lostl1ght/tmux.git
[submodule "playbooks/roles/neovim/files/nvim"]
	path = playbooks/roles/neovim/files/nvim
	url = git@github.com:lostl1ght/nvim.git
